/* Bootstrap CSS import */
@import url("bootstrap/css/bootstrap.min.css");

/* Add your site-specific styles below */
@import"https://unpkg.com/open-props";:root {
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-400: hsl(54, 77%, 52%);
    --clr-neutral-600: hsl(216, 55%, 17%);
    --level-one: translateZ(3rem);
    --level-two: translateZ(6rem);
    --level-three: translateZ(9rem)
}

*,*:before,*:after {
    box-sizing: border-box
}

html,body {
    overflow-x: clip;
    scroll-behavior: smooth
}

#nav-1,#nav-2,#nav-1Modal .modal-content {
    background-color: var(--clr-neutral-400)
}

#nav-1-icons .btn:hover {
    transform: scale(1.2);
    color: #fff;
    transition: all .6s
}

#nav-1Modal .modal-title {
    color: var(--clr-neutral-600)
}

#nav-1Modal .modal-footer button,#main-title {
    background-color: var(--clr-neutral-600)
}

#main-title {
    font-family: Libre Baskerville,serif;
    font-weight: 600
}

.orange-type,#nav-2 .dropdown-item:focus,#nav-2 .dropdown-item:hover {
    color: #ea9628!important
}

#nav-2 li a {
    color: var(--clr-neutral-600);
    font-family: PT Sans,sans-serif;
    font-size: 1rem
}

#nav-2 .nav-item a:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid #ea9628
}

#nav-2 .navbar-toggler {
    background-color: var(--clr-neutral-400)
}

#nav-2 .dropdown-item {
    color: var(--clr-neutral-600);
    font-size: .9rem
}

#nav-2 ul li .under-divider {
    color: var(--clr-neutral-400);
    border-bottom: 1px solid #fff
}

#nav-2 .navbar-nav li a {
    font-size: 1.1rem
}

#nav-2 .nav-item:hover .dropdown-menu {
    display: block
}

#bellModal img,#calModal img {
    width: 100%
}

.staff-title {
    font-family: Poppins,sans-serif;
    letter-spacing: .5rem
}

.staff-title #main-school {
    letter-spacing: .1rem;
    color: var(--clr-neutral-400)
}

.gold-bg {
    background-color: var(--clr-neutral-400)
}

.blue-bg {
    background: var(--clr-neutral-600)
}

#admin-main {
    color: var(--clr-neutral-400)
}

.parent-co h1 {
    font-size: 2.1rem;
    color: var(--clr-neutral-600);
    font-family: Oxygen,sans-serif
}

.parent-co span {
    color: var(--clr-neutral-400);
    font-size: 2.1rem
}

.gold-bg h2 {
    font-size: 2.1rem;
    color: var(--clr-neutral-600);
    font-family: Oxygen,sans-serif
}

.gold-bg span {
    color: var(--clr-neutral-100);
    font-size: 2.1rem
}

.blue-bg h2 {
    font-size: 2.1rem;
    color: var(--clr-neutral-400);
    font-family: Oxygen,sans-serif
}

.blue-bg span {
    color: var(--clr-neutral-100);
    font-size: 2.1rem
}

.department .card {
    width: 355px;
    height: 164.6px!important;
    font-family: Oxygen,sans-serif
}

.department .card .row {
    align-items: center;
    margin-bottom: 5px
}

.department .card .col-9 {
    align-self: flex-start
}

.department .card .col-3 {
    display: flex;
    align-items: center;
    justify-content: center
}

.department .card-title {
    color: var(--clr-neutral-600);
    font-size: 1.1rem;
    margin-top: .4rem;
    margin-bottom: .25rem
}

.department .spex {
    font-size: 1rem
}

.department .row .btn {
    padding: 5px;
    margin: 0;
    width: 40px;
    border: .25px solid rgba(252,186,3,.3)
}

.department .card-body {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.department .card-body p {
    font-size: .8rem;
    margin-bottom: .25rem
}

.department .card-body .txt-size {
    font-size: .65rem
}

.department .card-body .ttl-size {
    font-size: 1.05rem
}

.to-top {
    background: #fff;
    position: fixed;
    bottom: 26px;
    right: 32px;
    width: 50px;
    height: 50px;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #1f1f1f;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: .55
}

.room-lift {
    margin-top: -5px;
    font-size: .4;
    margin-bottom: 0
}

footer {
    font-family: PT Sans,sans-serif
}

footer h4 {
    font-size: 23px
}

footer p {
    margin-top: -20px;
    font-size: 17px;
    text-align: left
}

footer .footer-left-title {
    text-align: left
}

footer .footer-logo {
    width: 275px
}

footer #nyc-logo img {
    width: 225px;
    border-radius: 2px;
    margin-top: 60px
}

footer .additional-links {
    text-decoration: none;
    color: #fff
}

footer .useful-links {
    margin-bottom: 20px
}

footer #copyright {
    font-family: Tektur,cursive
}

@media screen and (min-width: 360px) {
    footer #nyc-logo img {
        width:145px
    }

    footer .footer-left-title {
        text-align: center
    }
}

@media screen and (min-width: 375px) {
    footer #nyc-logo img {
        width:160px
    }
}

@media screen and (min-width: 468px) {
    footer #nyc-logo img {
        width:200px
    }
}

@media screen and (min-width: 576px) {
    footer #nyc-logo img {
        width:200px
    }

    footer .footer-logo img {
        width: 285px
    }
}

@media screen and (min-width: 768px) {
    footer #nyc-logo img {
        width:110px
    }

    footer .footer-logo {
        width: 220px
    }
}

@media screen and (max-width: 991px) {
    #main-title h1 {
        padding-top:10px;
        font-size: 1.2rem
    }

    #main-title h4 {
        padding-top: 5px;
        font-size: .8rem
    }

    #main-title img {
        width: 50%
    }
}

@media screen and (min-width: 1028px) {
    #main-title img {
        width:100%;
        padding-top: 15px
    }
}

@media screen and (min-width: 1200px) {
    #main-title img {
        width:85%;
        padding-top: 0
    }
}

@media screen and (min-width: 992px) {
    #nav-2 ul li a {
        font-size:1rem
    }

    #nav-2 .dropdown-item {
        font-size: .9rem
    }

    .staff-title {
        font-size: 2.8rem
    }

    footer #nyc-logo img {
        width: 165px
    }

    footer .footer-logo {
        width: 280px
    }
}

@media screen and (min-width: 1100px) {
    #nav-2 {
        padding-left:28px
    }

    #nav-2 ul li a {
        font-size: 1.1rem
    }

    #nav-2 ul li {
        margin-right: 7px;
        margin-left: 1%
    }

    #nav-2 .dropdown-item {
        font-size: 1rem
    }
}

@media screen and (min-width: 1200px) {
    #nav-2 ul li a {
        font-size:1.175rem
    }

    #nav-2 .dropdown-item {
        font-size: 1.05rem
    }
}

@media screen and (min-width: 1300px) {
    #nav-2 ul li a {
        font-size:1.275rem
    }

    #nav-2 .dropdown-item {
        font-size: 1.1rem
    }
}

@media screen and (min-width: 1400px) {
    #nav-2 ul li a {
        font-size:1.3rem;
        margin-right: 10px
    }

    #nav-2 .dropdown-item {
        font-size: 1.1rem
    }
}
